name: Deploy Frontend
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_REACT_SECRET }}
      
      - name: Build Docker image
        run: docker build -t jotho22/docker-react -f Dockerfile.dev .
      
      - name: Run tests
        run: docker run -e CI=true jotho22/docker-react npm test -- --coverage --watchAll=false